id ICON "win.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "My Business Name"
      VALUE "LegalCopyright", "My Business Name"
      VALUE "FileDescription", "My WebUI Application"
      VALUE "InternalName", "MyApplication"
      VALUE "ProductName", "My Application"
      VALUE "FileVersion", "1.0"
      VALUE "OriginalFilename", "webui.exe"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
