BasedOnStyle: LLVM
ColumnLimit: 120
UseTab: ForIndentation
# Not actually 8, but makes clangd use tabs.
# The indent width adapts to the configured tab width.
IndentWidth: 8
IndentWrappedFunctionNames: true
AccessModifierOffset: 0
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left
AlignConsecutiveMacros: AcrossEmptyLines
