# Build
*.exe
*.dll
*.so
*.dylib
*.a
*.ilk
*.pdb
*.lib
*.exp
*.res
*.out
*.o
*.def
*.obj

# IDE
.idea/
.vscode/
.vs/
Debug/
Release/

# Python
__pycache__/
dist/
webui2.egg-info/

# Rust
target/
*.lock

# Broken NTFS
nul

# Zig
/zig-cache/
/zig-out/
/examples/Zig/*/zig-cache/
/examples/Zig/*/zig-out/
